openapi: 3.0.4
info:
  title: Uni Textbook Marketplace API
  description: >
    NexusDev - Uni Textbook Marketplace, COS 301 Software Engineering, 2026.
    Single source of truth for the API contract. Everyone edits this file
    directly, the same day and endpoint is committed. sas.tex's API Contracts
    section is a readbale rendering of this file, not an independently
    maintained copy. If the two disagree, this file is right.
  version: "5.0.0"
  contact:
    name: NexusDev
    url: https://github.com/COS301-SE-2026

  servers:
    - url: https://nexusdev-backend.whitesand-df72b78b.southafricanorth.azurecontainerapps.io/api
      description: Production (main)
    - url: https://nexusdev-backend-staging.whitesand-df72b78b.southafricanorth.azurecontainerapps.io/api
      description: Staging (develop)
    - url: http://localhost:3001/api
      description: Local development

  tags:
  - name: Auth
  - name: Listings
  - name: Admin
  - name: Modules
  - name: SavedSearches
  - name: Wishlist
  - name: Images
  - name: Conversations
  - name: Notifications
    description: "Sprint 5 / UC9, UC9.1, UC9.2. Owner: Gift."
  - name: Reports
    description: "Sprint 5 / UC10. Owner: Josh."
  - name: Cases
    description: "Sprint 5 / UC10 appeal flow. Owner: Neo."
  - name: Profile
    description: "Test week / Profile-Settings. Owner: Tiego + whoever has capacity."

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    Error:
      type: object
      properties:
        statusCode:
          type: integer
        message:
          type: string
        error:
          type: string

    Listing:
      type: object
      properties:
        id:
          type: string
          format: uuid
        title:
          type: string
        author:
          type: string
        isbn:
          type: string
        edition:
          type: integer
        condition:
          type: string
          enum: [new, good, fair, poor]
        annotationLevel:
          type: string
          enum: [none, light, heavy]
        hasNotes:
          type: boolean
        price:
          type: number
          format: float
        status:
          type: string
          enum: [PENDING, APPROVED, REJECTED, RESERVED, SOLD, WITHDRAWN, SOFT_DELETED]
        moduleId:
          type: string
          format: uuid
        photoUrls:
          type: array
          items:
            type: string
        sellerId:
          type: string
          format: uuid
        createdAt:
          type: string
          format: date-time

    # (Gift): confirm this matches the final notifications table shape
    Notification:
      type: object
      properties:
        id:
          type: string
          format: uuid
        userId:
          type: string
          format: uuid
        type:
          type: string
          description: >
            Drives frontend icon, copy, and routing (see Tiego's
            type-to-route map alongside utils/messageHelpers.ts).
            Keep this enum in sync with every new type introduced -
            flag additions the same day.
          enum:
            - LISTING_APPROVED
            - LISTING_REJECTED
            - LISTING_EDIT_NEEDS_REVIEW
            - WISHLIST_STATUS_CHANGE
            - NEW_MESSAGE
            - SAVED_SEARCH_MATCH
            - REPORT_RECEIVED
            - BAN_ISSUED
            - CASE_DECISION
        payload:
          type: object
          description: Free-form JSON, shape depends on `type`.
        isRead:
          type: boolean
        createdAt:
          type: string
          format: date-time

    # (Josh): confirm field names against the actual reports table
    # migration once committed.
    Report:
      type: object
      properties:
        id:
          type: string
          format: uuid
        reporterId:
          type: string
          format: uuid
        listingId:
          type: string
          format: uuid
        reason:
          type: string
        status:
          type: string
          enum: [PENDING, REVIEWED]
        createdAt:
          type: string
          format: date-time

    # (Neo): confirm field names against the actual cases table
    # migration once committed.
    Case:
      type: object
      properties:
        id:
          type: string
          format: uuid
        userId:
          type: string
          format: uuid
        banId:
          type: string
          format: uuid
        appealMessage:
          type: string
        status:
          type: string
          enum: [PENDING, UPHELD, REVERSED]
        reviewedBy:
          type: string
          format: uuid
        reviewedAt:
          type: string
          format: date-time

  responses:
    Unauthorized:
      description: Missing or invalid JWT
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    Forbidden:
      description: Authenticated but not permitted (wrong role, not the owner)
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    NotFound:
      description: Resource does not exist
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"

security:
  - bearerAuth: []

  # Demo 3: Whoever owns each section, fill it in as you go and code
  /notifications/mine:
    get:
      tags: [Notifications]
      summary: Returns the logged-in user's notifications, paginated.
      # (Gift): confirm query params (page, limit, unreadOnly?) once built.
      responses:
        "200":
          description: Paginated list of notifications
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: "#/components/schemas/Notification"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /notifications/{id}/read:
    patch:
      tags: [Notifications]
      summary: Marks a single notification as read. Ownership-checked.
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: string, format: uuid }
      responses:
        "200":
          description: Notification marked read
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /notifications/read-all:
    patch:
      tags: [Notifications]
      summary: Marks all of the logged-in user's notifications as read.
      responses:
        "200":
          description: All notifications marked read

  # (Josh): UC10 report submission + admin review.
  /reports:
    post:
      tags: [Reports]
      summary: A student submits a report against a listing.
      # TODO (Josh): confirm request body against reports.dto.ts.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required: [listingId, reason]
              properties:
                listingId:
                  type: string
                  format: uuid
                reason:
                  type: string
      responses:
        "201":
          description: Report submitted
        "401":
          $ref: "#/components/responses/Unauthorized"

  /admin/reports:
    get:
      tags: [Reports]
      summary: Returns reports for admin review, paginated, filterable by status.
      parameters:
        - in: query
          name: status
          schema: { type: string, enum: [PENDING, REVIEWED] }
        - in: query
          name: page
          schema: { type: integer }
        - in: query
          name: limit
          schema: { type: integer }
      responses:
        "200":
          description: Paginated reports
        "403":
          $ref: "#/components/responses/Forbidden"

  /admin/reports/{id}/dismiss:
    patch:
      tags: [Reports]
      summary: Dismisses a report without banning the reported user.
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: string, format: uuid }
      responses:
        "200":
          description: Report dismissed
        "403":
          $ref: "#/components/responses/Forbidden"

  # (Josh): confirm the actual route/verb for the ban action once
  # # committed - sprint-5.md item 6 describes the effect (is_banned, banned_at,
  # banned_by, ban_reason set on the reported listing's seller) but not yet
  # a confirmed endpoint path. Likely PATCH /admin/users/{id}/ban or similar.
  /admin/users/{id}/ban:
    patch:
      tags: [Reports]
      summary: >
        Bans the user who owns the reported listing. Writes an audit_log
        entry (action = BANNED) and triggers a ban-notice notification with
        appeal instructions via NotificationService.emit().
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                ban_reason:
                  type: string
      responses:
        "200":
          description: User banned
        "403":
          $ref: "#/components/responses/Forbidden"

  # (Neo): UC10 appeal/case flow. Target Mon 17 Aug for POST,
  # the admin review + decide endpoint.
  /cases:
    post:
      tags: [Cases]
      summary: A banned user submits an appeal. Only accessible if is_banned = true.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required: [appeal_message]
              properties:
                appeal_message:
                  type: string
      responses:
        "201":
          description: Appeal submitted
        "403":
          description: Only banned users may submit an appeal

  /admin/cases:
    get:
      tags: [Cases]
      summary: Returns appeal cases for admin review, paginated.
      parameters:
        - in: query
          name: page
          schema: { type: integer }
        - in: query
          name: limit
          schema: { type: integer }
      responses:
        "200":
          description: Paginated cases
        "403":
          $ref: "#/components/responses/Forbidden"

  # (Neo): confirm the actual route/verb for the decide action once
  # committed - sprint-5.md describes "a decide endpoint" without a
  # confirmed path yet. Likely PATCH /admin/cases/{id}/decide.
  /admin/cases/{id}/decide:
    patch:
      tags: [Cases]
      summary: >
        Admin upholds the ban or reinstates the account. Writes audit_log,
        triggers a case-decision notification via emit().
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required: [decision]
              properties:
                decision:
                  type: string
                  enum: [UPHOLD, REINSTATE]
      responses:
        "200":
          description: Case decided
        "403":
          $ref: "#/components/responses/Forbidden"