openapi: 3.0.4
info:
  title: Uni Textbook Marketplace API
  description: >
    NexusDev - Uni Textbook Marketplace, COS 301 Software Engineering, 2026.
    Single source of truth for the API contract. Everyone edits this file
    directly, the same day and endpoint is committed. sas.tex's API Contracts
    section is a readbale rendering of this file, not an independently
    maintained copy. If the two disagree, this file is right.
  version: "5.0.0"
  contact:
    name: NexusDev
    url: https://github.com/COS301-SE-2026

servers:
  - url: https://nexusdev-backend.whitesand-df72b78b.southafricanorth.azurecontainerapps.io/api
    description: Production (main)
  - url: https://nexusdev-backend-staging.whitesand-df72b78b.southafricanorth.azurecontainerapps.io/api
    description: Staging (develop)
  - url: http://localhost:3001/api
    description: Local development

tags:
- name: Auth
- name: Listings
- name: Admin
- name: Modules
- name: SavedSearches
- name: Wishlist
- name: Images
- name: Conversations
- name: Notifications
  description: "Sprint 5 / UC9, UC9.1, UC9.2. Owner: Gift."
- name: Reports
  description: "Sprint 5 / UC10. Owner: Josh."
- name: Cases
  description: "Sprint 5 / UC10 appeal flow. Owner: Neo."
- name: Profile
  description: "Test week / Profile-Settings. Owner: Tiego + whoever has capacity."

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    Error:
      type: object
      properties:
        statusCode:
          type: integer
        message:
          type: string
        error:
          type: string

    Listing:
      type: object
      properties:
        id:
          type: string
          format: uuid
        title:
          type: string
        author:
          type: string
        isbn:
          type: string
        edition:
          type: integer
        condition:
          type: string
          enum: [new, good, fair, poor]
        annotationLevel:
          type: string
          enum: [none, light, heavy]
        hasNotes:
          type: boolean
        price:
          type: number
          format: float
        status:
          type: string
          enum: [PENDING, APPROVED, REJECTED, RESERVED, SOLD, WITHDRAWN, SOFT_DELETED]
        moduleId:
          type: string
          format: uuid
        photoUrls:
          type: array
          items:
            type: string
        sellerId:
          type: string
          format: uuid
        createdAt:
          type: string
          format: date-time

    # (Gift): confirm this matches the final notifications table shape
    Notification:
      type: object
      properties:
        id:
          type: string
          format: uuid
        userId:
          type: string
          format: uuid
        type:
          type: string
          description: >
            Drives frontend icon, copy, and routing (see Tiego's
            type-to-route map alongside utils/messageHelpers.ts).
            Keep this enum in sync with every new type introduced -
            flag additions the same day.
          enum:
            - LISTING_APPROVED
            - LISTING_REJECTED
            - LISTING_EDIT_NEEDS_REVIEW
            - WISHLIST_STATUS_CHANGE
            - NEW_MESSAGE
            - SAVED_SEARCH_MATCH
            - REPORT_RECEIVED
            - BAN_ISSUED
            - CASE_DECISION
        payload:
          type: object
          description: Free-form JSON, shape depends on `type`.
        isRead:
          type: boolean
        createdAt:
          type: string
          format: date-time

    # (Josh): confirm field names against the actual reports table
    # migration once committed.
    Report:
      type: object
      properties:
        id:
          type: string
          format: uuid
        reporterId:
          type: string
          format: uuid
          description: The ID of the user who submitted the report
        listingId:
          type: string
          format: uuid
          description: The ID of the listing being reported
        reason:
          type: string
          description: The reason for the report
        status:
          type: string
          enum: [PENDING, REVIEWED]
          description: The current status of the report
        createdAt:
          type: string
          format: date-time
          description: Timestamp of report creation

    # (Neo): confirm field names against the actual cases table
    # migration once committed.
    Case:
      type: object
      properties:
        id:
          type: string
          format: uuid
        userId:
          type: string
          format: uui
      #ban_id foreign key removed as there is no ban table to reference 
        appeal_message:
          type: string
        status:
          type: string
          enum: [PENDING, UPHELD, REVERSED]
        reviewed_by:
          type: string
          format: uuid
        reviewed_at:
          type: string
          format: date-time
        created_at: #added column for case date ordering + keeping track of stale cases
          type: string
          format: date-time
        updated_at: #added column for keeping track of updates in cases 
          type: string
          format: date-time
        deleted_at: #added column for keeping track of case removals
          type: string
          format: date-time

    CaseResponse:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: The unique identifier of the case
        user_id:
          type: string
          format: uuid
          description: The ID of the user who submitted the appeal
        appeal_message:
          type: string
          nullable: true
          description: The appeal message from the user
        status:
          type: string
          enum: [pending, upheld, reversed]
          description: |
            The current status of the case:
            - "pending": Awaiting admin review
            - "upheld": Ban maintained (user remains banned)
            - "reversed": Ban lifted (user reinstated)
        reviewed_by:
          type: string
          format: uuid
          nullable: true
          description: The ID of the admin who reviewed the case
        reviewed_at:
          type: string
          format: date-time
          nullable: true
          description: When the case was reviewed
        created_at:
          type: string
          format: date-time
          description: When the case was created
        updated_at:
          type: string
          format: date-time
          nullable: true
          description: When the case was last updated
        deleted_at:
          type: string
          format: date-time
          nullable: true
          description: When the case was soft-deleted

    PaginatedCasesResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/CaseResponse"
        meta:
          type: object
          properties:
            total:
              type: integer
              description: Total number of cases
            page:
              type: integer
              description: Current page number
            limit:
              type: integer
              description: Items per page
            totalPages:
              type: integer
              description: Total number of pages


  responses:
    Unauthorized:
      description: Missing or invalid JWT
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    Forbidden:
      description: Authenticated but not permitted (wrong role, not the owner)
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    NotFound:
      description: Resource does not exist
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"

security:
  - bearerAuth: []

paths:

  # Demo 3: Whoever owns each section, fill it in as you go and code
  /notifications/mine:
    get:
      tags: [Notifications]
      summary: Returns the logged-in user's notifications, paginated.
      # (Gift): confirm query params (page, limit, unreadOnly?) once built.
      responses:
        "200":
          description: Paginated list of notifications
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: "#/components/schemas/Notification"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /notifications/{id}/read:
    patch:
      tags: [Notifications]
      summary: Marks a single notification as read. Ownership-checked.
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: string, format: uuid }
      responses:
        "200":
          description: Notification marked read
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  /notifications/read-all:
    patch:
      tags: [Notifications]
      summary: Marks all of the logged-in user's notifications as read.
      responses:
        "200":
          description: All notifications marked read

  # (Josh): UC10 report submission + admin review.
  /reports:
    post:
      tags: [Reports]
      summary: A student submits a report against a listing.
      # TODO (Josh): confirm request body against reports.dto.ts.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [listingId, reason]
              properties:
                listingId:
                  type: string
                  format: uuid
                  description: The ID of the listing being reported
                reason:
                  type: string
                  description: The reason for the report
      responses:
        "201":
          description: Report submitted successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Report"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  /admin/reports:
    get:
      tags: [Reports]
      summary: Returns reports for admin review, paginated, filterable by status. 
      security:
        - bearerAuth: []
      parameters:
        - in: query
          name: status
          schema: { type: string, enum: [PENDING, REVIEWED] }
        - in: query
          name: page
          schema: { type: integer }
          description: Page number
        - in: query
          name: limit
          required: false
          schema:
            type: integer
            minimum: 1
            default: 20
          description: Number of reports returned per page.
      responses:
        "200":
          description: List of reports for admin review
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Report"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"

  /admin/{id}/dismiss:
    patch:
      tags: [Reports]
      summary: Dismisses a report without banning the reported user.
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: string, format: uuid }
          description: The ID of the report to dismiss
      responses:
        "200":
          description: Report dismissed
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  # (Josh): confirm the actual route/verb for the ban action once
  # # committed - sprint-5.md item 6 describes the effect (is_banned, banned_at,
  # banned_by, ban_reason set on the reported listing's seller) but not yet
  # a confirmed endpoint path. Likely PATCH /admin/users/{id}/ban or similar.
  /admin/users/{id}/ban:
    patch:
      tags: [Reports]
      summary: >
        Bans the user who owns the reported listing. Writes an audit_log
        entry (action = BANNED) and triggers a ban-notice notification with
        appeal instructions via NotificationService.emit().
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                reason:
                  type: string
                  description: Reason for banning the user
      responses:
        "200":
          description: User banned
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"

  # (Neo): UC10 appeal/case flow. Target Mon 17 Aug for POST,
  # the admin review + decide endpoint.

  
  # Neo: UC10 appeal/case flow
# Updated to match CasesController implementation

/cases:
  post:
    tags: [Cases]
    summary: Submit an appeal as a banned user
    description: Only users with is_banned = true can submit appeals. Users cannot have multiple pending appeals.
    security:
      - bearerAuth: []
    requestBody:
      required: true
      content:
        application/json:
          schema:
            type: object
            required: [appeal_message]
            properties:
              appeal_message:
                type: string
                minLength: 10
                maxLength: 5000
                description: The appeal message from the banned user
    responses:
      "201":
        description: Appeal submitted successfully
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CaseResponse"
      "400":
        description: User is not banned or already has a pending appeal
      "401":
        description: Unauthorized - user not logged in
      "403":
        description: Forbidden - only banned users may submit an appeal

/cases/mine:
  get:
    tags: [Cases]
    summary: Get all cases for the authenticated user
    description: Returns all cases submitted by the current user
    security:
      - bearerAuth: []
    responses:
      "200":
        description: List of cases
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: "#/components/schemas/CaseResponse"
      "401":
        description: Unauthorized - user not logged in

/cases/{id}:
  get:
    tags: [Cases]
    summary: Get a specific case by ID
    description: Users can only access their own cases
    security:
      - bearerAuth: []
    parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
          format: uuid
        description: The ID of the case to retrieve
    responses:
      "200":
        description: Case found
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CaseResponse"
      "401":
        description: Unauthorized - user not logged in
      "404":
        description: Case not found

/cases/admin/pending:
  get:
    tags: [Cases]
    summary: ADMIN ONLY - Get all pending cases
    description: Returns all cases with status = pending for admin review
    security:
      - bearerAuth: []
    responses:
      "200":
        description: List of pending cases
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: "#/components/schemas/CaseResponse"
      "401":
        description: Unauthorized - user not logged in
      "403":
        description: Forbidden - admin access required

/cases/admin:
  get:
    tags: [Cases]
    summary: ADMIN ONLY - Get all cases with pagination
    description: Returns all cases with pagination for admin dashboard
    security:
      - bearerAuth: []
    parameters:
      - in: query
        name: page
        schema:
          type: integer
          minimum: 1
          default: 1
        description: Page number (default: 1)
      - in: query
        name: limit
        schema:
          type: integer
          minimum: 1
          maximum: 100
          default: 20
        description: Items per page (default: 20, max: 100)
      - in: query
        name: status
        schema:
          type: string
          enum: [pending, upheld, reversed]
        description: Filter by status (pending, upheld, reversed)
      - in: query
        name: search
        schema:
          type: string
        description: Search in appeal message
    responses:
      "200":
        description: Paginated list of cases
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PaginatedCasesResponse"
      "401":
        description: Unauthorized - user not logged in
      "403":
        description: Forbidden - admin access required

/cases/{id}/review:
  patch:
    tags: [Cases]
    summary: ADMIN ONLY - Review a case (decide endpoint)
    description: >
      Admin upholds the ban or reinstates the account (reverses the ban).
      Writes to audit_log and triggers a case-decision notification via emit().
      - "upheld": User remains banned (ban is maintained)
      - "reversed": User is reinstated (ban is lifted)
    security:
      - bearerAuth: []
    parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
          format: uuid
        description: The ID of the case to review
    requestBody:
      required: true
      content:
        application/json:
          schema:
            type: object
            required: [decision]
            properties:
              decision:
                type: string
                enum: [upheld, reversed]
                description: |
                  - "upheld": Maintain the ban (user stays banned)
                  - "reversed": Reinstate the user (lift the ban)
              adminNotes:
                type: string
                maxLength: 1000
                description: Optional notes from the admin about the decision
    responses:
      "200":
        description: Case reviewed successfully (decision applied)
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CaseResponse"
      "400":
        description: Case already reviewed or invalid decision
      "401":
        description: Unauthorized - user not logged in
      "403":
        description: Forbidden - admin access required
      "404":
        description: Case not found