openapi: 3.0.4
info:
  title: Uni Textbook Marketplace API
  description: >
    NexusDev - Uni Textbook Marketplace, COS 301 Software Engineering, 2026.
    Single source of truth for the API contract. Everyone edits this file
    directly, the same day and endpoint is committed. sas.tex's API Contracts
    section is a readbale rendering of this file, not an independently
    maintained copy. If the two disagree, this file is right.
  version: "5.0.0"
  contact:
    name: NexusDev
    url: https://github.com/COS301-SE-2026

  servers:
    - url: https://nexusdev-backend.whitesand-df72b78b.southafricanorth.azurecontainerapps.io/api
      description: Production (main)
    - url: https://nexusdev-backend-staging.whitesand-df72b78b.southafricanorth.azurecontainerapps.io/api
      description: Staging (develop)
    - url: http://localhost:3001/api
      description: Local development

  tags:
  - name: Auth
  - name: Listings
  - name: Admin
  - name: Modules
  - name: SavedSearches
  - name: Wishlist
  - name: Images
  - name: Conversations
  - name: Notifications
    description: "Sprint 5 / UC9, UC9.1, UC9.2. Owner: Gift."
  - name: Reports
    description: "Sprint 5 / UC10. Owner: Josh."
  - name: Cases
    description: "Sprint 5 / UC10 appeal flow. Owner: Neo."
  - name: Profile
    description: "Test week / Profile-Settings. Owner: Tiego + whoever has capacity."

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    Error:
      type: object
      properties:
        statusCode:
          type: integer
        message:
          type: string
        error:
          type: string

    Listing:
      type: object
      properties:
        id:
          type: string
          format: uuid
        title:
          type: string
        author:
          type: string
        isbn:
          type: string
        edition:
          type: integer
        condition:
          type: string
          enum: [new, good, fair, poor]
        annotationLevel:
          type: string
          enum: [none, light, heavy]
        hasNotes:
          type: boolean
        price:
          type: number
          format: float
        status:
          type: string
          enum: [PENDING, APPROVED, REJECTED, RESERVED, SOLD, WITHDRAWN, SOFT_DELETED]
        moduleId:
          type: string
          format: uuid
        photoUrls:
          type: array
          items:
            type: string
        sellerId:
          type: string
          format: uuid
        createdAt:
          type: string
          format: date-time

    # (Gift): confirm this matches the final notifications table shape
    Notification:
      type: object
      properties:
        id:
          type: string
          format: uuid
        userId:
          type: string
          format: uuid
        type:
          type: string
          description: >
            Drives frontend icon, copy, and routing (see Tiego's
            type-to-route map alongside utils/messageHelpers.ts).
            Keep this enum in sync with every new type introduced -
            flag additions the same day.
          enum:
            - LISTING_APPROVED
            - LISTING_REJECTED
            - LISTING_EDIT_NEEDS_REVIEW
            - WISHLIST_STATUS_CHANGE
            - NEW_MESSAGE
            - SAVED_SEARCH_MATCH
            - REPORT_RECEIVED
            - BAN_ISSUED
            - CASE_DECISION
        payload:
          type: object
          description: Free-form JSON, shape depends on `type`.
        isRead:
          type: boolean
        createdAt:
          type: string
          format: date-time

    # (Josh): confirm field names against the actual reports table
    # migration once committed.
    Report:
      type: object
      properties:
        id:
          type: string
          format: uuid
        reporterId:
          type: string
          format: uuid
        listingId:
          type: string
          format: uuid
        reason:
          type: string
        status:
          type: string
          enum: [PENDING, REVIEWED]
        createdAt:
          type: string
          format: date-time

    # (Neo): confirm field names against the actual cases table
    # migration once committed.
    Case:
      type: object
      properties:
        id:
          type: string
          format: uuid
        userId:
          type: string
          format: uuid
        banId:
          type: string
          format: uuid
        appealMessage:
          type: string
        status:
          type: string
          enum: [PENDING, UPHELD, REVERSED]
        reviewedBy:
          type: string
          format: uuid
        reviewedAt:
          type: string
          format: date-time

  responses:
    Unauthorized:
      description: Missing or invalid JWT
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    Forbidden:
      description: Authenticated but not permitted (wrong role, not the owner)
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    NotFound:
      description: Resource does not exist
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"

security:
  - bearerAuth: []